.login-btn {
    background-color: #000000;    /* button color */
    color: white;                 /* text color */
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

body {
    background-color: #f2f2f2; /* very light gray */
}
